html {
    overflow: scroll;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
  body {
    overflow: auto;
    color: rgb(0, 0, 0);
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    height: auto;
  }
* {
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: black;
    padding-left: 250px;
    padding-right: 250px;
}

.nav-item {
    margin-left: 30px !important;
}

.nav-link {
    color: white !important;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
  } 
.navbar-toggler:focus {
    outline: none !important;
}

/* Carousel */
.carousel {
    height: 1000px;
    width: 100%;
}
.carousel .carousel-inner .carousel-item {
    height: auto;
}
.carousel .carousel-inner .carousel-item .carousel-img {
    opacity: .9;
    height: 1000px;
}
.carousel .carousel-inner .carousel-item .kenya-img {
    height: 200px;
}
.carousel .carousel-inner .carousel-item .carousel-caption {
    bottom: 400px;
}
.carousel .carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 70px;
    font-weight: 600;
    margin-top: 60px;
}
.caption {
    color: white;
}
.par {
    width: 60%;
    margin: auto;
    color: white;
}

/* Main */
.main {
    background-color: #C00000;
    padding: 20px;
    height: 600px;
    clip-path: polygon(100% 0%, 100% 85%, 0% 100%, 0 100px);
    position: relative !important;
    width: 100%;
    bottom: 100px;
}

/* Border inside main */
.border {
    height: 500px;
    margin: 20px;
    margin-top: 0;
    padding-top: 10%;
    border-style: dashed !important;
    clip-path: polygon(100% 0%, 100% 85%, 0% 100%, 0 100px);
    /* clip-path: polygon(100% 0%, 100% 85%, 0% 100%, 0 100px); */
}
.main-img-1 {
    position: relative;
    left: 10%;
    bottom: 250px;
    height: 200px;
}
.main-img-2 {
    position: relative;
    left: 60%;
    bottom: 350px;
    height: 400px;
}

/* Buttons */
.btn-black {
    background-color: black;
    color: white;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.btn-black:hover {
    background-color: white;
    color: black;
    padding-right: 30px;
    transition: all .5s ;
}
.btn-red {
    background-color: #C00000;
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
}
.btn-red:hover {
    background-color: whitesmoke;
    color: #C00000;
    padding-right: 30px;
    transition: all .5s ;
}
.btn-red-alt {
    background-color: #C00000;
    border: 1px solid #ffffff;
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
}
.btn-red-alt:hover {
    background-color: whitesmoke;
    color: #C00000;
    padding-right: 30px;
    transition: all .5s ;
}
.btn-up {
    background-color: #C00000 !important;
    color: white;
    border: 1px solid white;
}

h1 {
    font-weight: bold;
}

/* What we do section */
.what-we-do-sec {
    margin-top: -400px;
}
.what-we-do {
    width: 60%;
    margin: auto;
}
.africa-map {
    height: 200px !important;
}

.card {
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
}

.card-believe {
    background-color: transparent;
    box-shadow: none;
}

.vat-2 {
    position: relative;
    left: 80% !important;
    top: 120px !important;
    z-index: 1000;
    height: 200px;
}
.vat-3 {
    position: relative;
    left: 10% !important;
    top: 200px !important;
    height: 200px;
}
.fighter-par {
    font-size: 100px;
    color: #C00000 !important;
}

.what-we-believe {
    background-color: #AAABAB;
    padding: 20px;
    height: 600px;
    position: relative;
    width: 100%;
    bottom: 0px;
    clip-path: polygon(100% 13.5%, 100% 100%, 0% 87.5%, 0% 0%);
}

/* Join Tax */
.grid {
    height: 200px;
    margin-top: 150px;
}

.team-card {
    height: 450px;
    border-radius: 10px;
}
.text-card {
    background-color: transparent !important;
}
.over-lay-img {
    height: 450px;
    border-radius: 10px;
    object-fit: cover;
}

.team-section {
    position: relative;
    background-color: #f7f7f7;
    height: auto;
    padding: 50px;
    color: rgb(0, 0, 0);
}
/* Main */
.team-caption {
    padding: 20px;
}
.team-row {
    position: relative;
    width: 60%;
}

.team-img {
    border-radius: 10px;
}

.testimonial-1 {
    background-color: #C00000;
    border-radius: 10px;
    padding: 90px 30px;
}

.testimonial-2 {
    background-color: #000000;
    border-radius: 10px;
    padding: 90px 30px;
}

.testimonial-3 {
    background-color: #000000;
    border-radius: 10px;
    padding: 90px 30px;
}

.join {
    height: 600px;
    background: url('../assets/images/fighter-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
}

.contact {
    background-color: #C00000;
    color: white;
}
.row-contact {
    padding: 150px;
}
.col-img {
    height: 100px;
    margin-left: 500px !important;
}
.footer {
    background-color: #000000;
}
.row-footer {
    max-width: 70%;
    padding: 40px;
}

.text-par {
    width: 50%;
}

@media screen and (max-width: 992px) {
    /* Navbar */
    .navbar-collapse {
        background-color: #474747;
        border-top: 2px solid #C00000;
        border-bottom: 2px solid #C00000;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .navbar {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    
    /* Carousel */
    .carousel {
        height: 300px;
        width: 100%;
    }
    .carousel .carousel-inner .carousel-item .carousel-img {
        opacity: .9;
        height: 300px;
    }
    .carousel .carousel-inner .carousel-item .carousel-caption h5 {
        font-size: 20px;
        margin-top: 60px;
    }
    .carousel .carousel-inner .carousel-item .kenya-img {
        height: auto;
    }
    .carousel .carousel-inner .carousel-item .carousel-caption {
        bottom: 30px;
    }

    /* Main */
    .main {
        background-color: #C00000;
        height: 400px;
        clip-path: none;
        padding-top: 30px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0 !important;
        margin: 0 !important;
        position: inherit;
        bottom: 0px;
    }
    /* Border inside main */
    .border {
        height: auto;
        margin: 0px;
        margin-top: 0 !important;
        border-style: none !important;
        border-left: none !important;
        border-right: none !important;
        clip-path: none;
    }

    .par {
        width: 100%;
        margin: auto;
        color: white;
    }

    /* Main images */
    .main-img-1, .main-img-2 {
        display: none;
    }
    .africa-map {
        margin-left: 40%;
        height: 80px !important;
    }

    /* What we do section */
    .what-we-do-sec {
        margin-top: 0px;
    }
    .btn-black {
        background-color: black;
        color: white;
        border-radius: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .btn-red {
        width: 100%;
    }
    .what-we-do {
        padding-top: 20px;
        width: 90%;
        margin: auto;
        text-align: left !important;
    }
    .what-we-believe {
        height: 1000px;
    }
    .vat-2 {
        position: relative;
        left: 70% !important;
        top: 160px !important;
        z-index: 1000;
        height: 100px;
    }
    .vat-3 {
        display: none;
    }
    .fighter-par {
        font-size: 50px;
        color: #C00000 !important;
    }
    .grid {
        height: 200px;
        margin-top: 0px;
    }
    .text-par {
        width: 100%;
        padding: 30px;
    }
    .team-row {
        width: 100%;
    }
    .team-section {
        padding: 10px;
        padding-top: 30px;
    }
    .row-contact {
        padding: 30px;
    }
    .row-contact {
        padding: 20px;
    }
    .col-img {
        margin-top: 30px;
        height: 100px;
    }
    .row-footer {
        max-width: 100% !important;
    }
    .col-img {
        height: 100px;
        margin-left: 0px !important;
    }
    .join {
        height: 200px;
        background: url('../assets/images/fighter-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: fill;
    }
}