html {
    overflow: scroll;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
  body {
    overflow: auto;
    color: rgb(0, 0, 0);
    margin-bottom: 0 !important;
  }
* {
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: black;
    padding-left: 250px;
    padding-right: 250px;
}

.nav-item {
    margin-left: 30px !important;
}

.nav-link {
    color: white !important;
}

.navbar-toggler {
    color: white;
}
.navbar-toggler-icon {
    color: white !important;
}
.navbar-toggler:focus {
    outline: none;
}

.main {
    background-color: #C00000;
    padding: 20px;
    height: 600px;
    clip-path: polygon(100% 0%, 100% 85%, 0% 100%, 0 100px);
    position: absolute !important;
    width: 100%;
    bottom: 0px;
}

.grid-style {
    position: relative;
    left: 80%;
    height: 500px;
}
.grid-style-2 {
    position: relative;
    top: 95px;
    right: 60%;
    height: 200px;
    z-index: 1000;
}

.border {
    height: 500px;
    margin: 20px;
    padding-top: 10%;
    border-style: dashed !important;
    clip-path: polygon(100% 0%, 100% 85%, 0% 100%, 0 100px);
}

.carousel .carousel-inner .carousel-item {
    height: auto;
}
.carousel .carousel-inner .carousel-item img {
    opacity: .9;
    height: 1000px;
}
.carousel .carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 70px;
    position: relative;
    bottom: 420px;
    font-weight: bolder;
}
.caption {
    color: white;
}
.par {
    color: white;
}

.btn-black {
    background-color: black;
    color: white;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.btn-black:hover {
    background-color: white;
    color: black;
    padding-right: 30px;
    transition: all .5s ;
}
.btn-red {
    background-color: #C00000;
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
}
.btn-red:hover {
    background-color: whitesmoke;
    color: #C00000;
    padding-right: 30px;
    transition: all .5s ;
}
.btn-red-alt {
    background-color: #C00000;
    border: 1px solid #ffffff;
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
}
.btn-red-alt:hover {
    background-color: whitesmoke;
    color: #C00000;
    padding-right: 30px;
    transition: all .5s ;
}

h1 {
    font-weight: bold;
}

.what-we-do {
    width: 60%;
    margin: auto;
}

.card {
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
}

.card-believe {
    background-color: transparent;
    box-shadow: none;
}

.vat-2 {
    position: relative;
    left: 80% !important;
    top: 120px !important;
    z-index: 1000;
    height: 200px;
}

.what-we-believe {
    background-color: #AAABAB;
    padding: 20px;
    height: 600px;
    position: relative;
    width: 100%;
    bottom: 0px;
    clip-path: polygon(100% 13.5%, 100% 100%, 0% 87.5%, 0% 0%);
}

.grid {
    height: 200px;
    margin-top: 150px;
}

.team-section {
    position: relative;
    background-color: #AAABAB;
    height: auto;
    padding: 50px;
    color: white;
}

.team-row {
    position: relative;
    width: 60%;
}

.team-img {
    border-radius: 10px;
}

.testimonial-1 {
    background-color: #C00000;
    border-radius: 10px;
    padding: 90px 30px;
}

.testimonial-2 {
    background-color: #000000;
    border-radius: 10px;
    padding: 90px 30px;
}

.testimonial-3 {
    background-color: #000000;
    border-radius: 10px;
    padding: 90px 30px;
}

.join {
    height: 600px;
    background: url('../assets/images/ff.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.contact {
    background-color: #C00000;
    color: white;
}
.row-contact {
    padding: 150px;
}
.col-img {
    height: 200px;
}

.row-footer {
    padding-left: 350px !important;
}

@media screen and (max-width: 992px) {
    .navbar {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .main {
        background-color: #C00000;
        height: 400px;
        position: relative;
        top: -50px;
    }
    .carousel .carousel-inner .carousel-item img {
        height: 400px;
    }
    .carousel .carousel-inner .carousel-item .carousel-caption h5 {
        font-size: 50px;
        position: relative;
        bottom: 300px;
    }
    .main {
        background-color: #C00000;
        padding: 20px;
        height: 600px;
        clip-path: polygon(100% 0%, 100% 74.25%, 70% 100%, 0% 100%, 0% 0%);
    }
    .grid-style {
        height: auto;
        position: relative;
        left: 80%;
        top: -130px;
    }
    .border {
        clip-path: none;
        border-style: none !important;
    }
    .grid-style-2 {
        position: relative;
        top: -125px;
        right: 30%;
        height: 100px;
        z-index: 1000;
    }
    .btn-black {
        background-color: black;
        color: white;
        border-radius: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .what-we-do {
        width: 90%;
        margin: auto;
        text-align: left !important;
    }
    .what-we-believe {
        height: 1000px;
    }
    .vat-2 {
        position: relative;
        left: 70% !important;
        top: 90px !important;
        z-index: 1000;
        height: 100px;
    }
    .grid {
        height: 200px;
        margin-top: 0px;
    }
    .team-row {
        width: 100%;
    }
    .row-contact {
        padding: 20px;
    }
    .row-contact {
        padding: 20px;
    }
    .col-img {
        margin-top: 30px;
        height: 100px;
    }
    
    .row-footer {
        padding-left: 20px !important;
    }
}